<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<!-- <div class="demo">
  start date: {{startDate | date:'MM/dd/yyyy'}}
  title : {{title | lowercase}}
  price: {{price | number : '3.3-5'}}
  price: {{price | currency : 'PKR' }}

</div> -->



<!-- <div *ngFor="let pair of mainCourse | keyvalue" >
   {{pair.key +':'+pair.keyvalue}}
</div> -->

<button (click)="onEditCourse()" >Edit Courses</button>

<div class="courses" #container *ngIf="courses[0] as course1">

   <ng-template #noImage let-courseName="description">
      <p class="warn">{{courseName}} No image available</p>
      <img src="/assets/empty-image.png" />
  </ng-template>

  <ng-container *ngTemplateOutlet="noImage; context: {description: course1.description}">

  </ng-container>

  <!-- <ng-container *ngTemplateOutlet="noImage; context: {description: courses[2].description}">

  </ng-container> -->


   <course-card (courseSelected) = "onCourseSelected($event)"   [course]="course1" [noImageTpl]="noImage" >
      <course-image [src]="course1.iconUrl"></course-image>   
      <course-image [src]="courses[4].iconUrl"></course-image>   
      <course-image [src]="courses[3].iconUrl"></course-image>      
      <h3>total lessons 3</h3>
   </course-card>

   

   <!-- <course-card #cardref1 (courseSelected) = "onCourseSelected($event)" [index]="0"  [course]="mainCourse" ></course-card>
   <course-card #cardref2 (courseSelected) = "onCourseSelected($event)" [index]=""  [course]="secCourse" ></course-card> -->

   <!-- <course-card *ngFor="let course of courses | slice:0:2 ;index as i;first as isFirst;last as isLast;even as isEven;odd as isOdd"
            (courseSelected) = "onCourseSelected($event)" 
            [class.is-first]="isFirst"
            [class.is-last]="isLast"
            [class.is-even]="isEven"
            [class.is-odd]="isOdd"
            [index]="i+1"  
            [course]="course" >
   </course-card> -->

   <!-- @for(course of courses;track trackCourse; let index = $index; let count = $count;
         let first = $first; let last = $last; let even = $even; let odd = $odd) {
      <h1>Total Courses : {{count - index}}</h1>
      <course-card  [course]="course"
                    [index] = "index" 
                    [class.is-first]="first"
                    [class.is-last]="last"
                    [class.is-even]="even"
                    [class.is-odd]="odd"
                     (courseSelected) = "onCourseSelected($event)"  ></course-card>      
   }
   @empty {
      <h1>No course found</h1>
   } -->
   <!-- <course-card (courseSelected) = "onCourseSelected($event)" [course]="mainCourse" ></course-card>
   <course-card (courseSelected) = "onCourseSelected($event)"  [course]="secCourse" ></course-card>
   <course-card (courseSelected) = "onCourseSelected($event)"  [course]="optCourse"></course-card> -->
</div>
